@import "./variables/variable";

.rentagle-190 {
  position: absolute;
  width: 175px;
  height: 2px;
  left: 0px;
  top: 528px;
  background: #ffffff;
  opacity: 0.3;
}
.rentagle-191 {
  position: absolute;
  width: 13px;
  height: 2px;
  left: 185px;
  top: 528px;
  background: #ffffff;
  opacity: 0.3;
}
.rentagle-192 {
  position: absolute;
  width: 13px;
  height: 2px;
  left: 208px;
  top: 528px;
  background: #ffffff;
  opacity: 0.3;
}
.rentagle-193 {
  position: absolute;
  width: 13px;
  height: 2px;
  left: 208px;
  top: 528px;
  background: #ffffff;
  opacity: 0.3;
}
.rentagle-194 {
  position: absolute;
  width: 13px;
  height: 2px;
  left: 231px;
  top: 528px;
  background: #ffffff;
  opacity: 0.3;
}
.rentagle-195 {
    position: absolute;
    width:70%;
    height: 2px;
    left: 260px;
    top: 528px;
    background: #FFFFFF;
    opacity: 0.3;
}
.union-left {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 78.38px;
    top: 520px;
    background-color:transparent ;
    border: transparent;
}
.union-right {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 130px;
    top: 520px;
    background-color:transparent ;
    border: transparent;
}
.vektor-1 {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 176px;
  top: 525px;

  border: 2px solid #ffffff;
}
.vektor-2 {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 199px;
  top: 525px;

  border: 2px solid rgba(255, 255, 255, 0.3);
}
.vektor-3 {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 222px;
  top: 525px;
  border: 2px solid rgba(255, 255, 255, 0.3);
}
.vektor-4 {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 245px;
  top: 525px;
  border: 2px solid rgba(255, 255, 255, 0.3);
}
.vektor-5 {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 245px;
  top: 525px;
  border: 2px solid rgba(255, 255, 255, 0.3);
}
